# build artifacts
/bin/
/_build/
/.keys/
/.collector-config.yaml

# go
*.test
*.out
artifacts/
_build/
install_unix.sh

# local bindplane auth secret (contains credentials)
deploy/secret-bindplane-agent.yaml
